body{
    margin: 0;
    padding:0;
    background-color: #3d3d3d;
}
/* navbar with cover moive */
.navbar{
    display: inline;
    color:white;
}
ul{
    position: absolute;
    top:40px;
    margin: auto;
    left:100px;
}
li{
    display: inline;
    padding:20px 50px;
}

.link{
    color:white;
    text-decoration: none;
    font-size: larger;
    /* padding:0 0px; */
}
h2{
    position: relative;
    left:100px;
}
.invite{
    position: relative;
    left:100px;
    top:200px;
    border:1px solid white;
    width:70%;
    height:300px;
    color:white;
    border-radius: 30px;
}
label{
    font-size: larger;
}
input{
    padding:5px 5px;
    width:80%;
}
form{
    position: relative;
    left:100px;
}
input[type="submit"]{
    margin-top: 20px;
    padding:5px;
    width:100px;
    background-color: rgba(27, 27, 154, 0.525);
    color:white;
}