body{
    margin: 0;
    padding:0;
    background-color: #3d3d3d;
}
/* navbar with cover moive */
.navbar{
    display: inline;
    color:white;
}
h1{
    margin: auto;
    text-align: center;
}
ul{
    position: absolute;
    top:40px;
    margin: auto;
    left:100px;
}
.about{
    position: relative;
    top:200px;
    width:90%;
    text-align: center;
    margin: auto;
    color:white;
}

.link{
    color:white;
    text-decoration: none;
    font-size: larger;
    padding:0 50px;
}
a:hover{
    color:rgb(136, 136, 136);
}
li{
    display: inline;
    padding:20px 50px;
}

.imgCover{
    position: absolute;
    bottom:500px;
    left:500px;
    background-attachment: fixed;
}

.imgContainer{
    background-image: url("https://i.pinimg.com/564x/86/9c/aa/869caaa3e5789a5c90b85be9d91c6fe9.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    width:100%;
    height:50vh;
    background-position:bottom;
    background-size: 100%;
    object-fit: fill;
    background-attachment: fixed;
}

/* end navbar with cover moive */

/* start search box */
.search-box input{
    padding:10px;
    width:300px;
    border-radius: 10px;
    position: relative;
    left:40%;
    top:20px;
}
/* end search box */

/* start movie list */
td{
    position: relative;
    left:150px;
    padding:5px 5px;
    top:100px;
}

.rate-moive{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0; 
    font-size: large;
    transition: opacity 0.3s;
}
td:hover .rate-moive:hover{
    opacity: 1;
}
h2{
    font-weight: bold;
    position: relative;
    left:30px;
}
.classification{
    left:0;
    margin:auto;
    top:250px;
    width:100%;
    font-size: 14px;
    padding: 0; 
    margin: 4px 0;
    text-align: center; 
}
li{
    padding:5px;
}
h4{
    position: relative;
    top:120px;
    right: 70px;
    color:yellow;
}
.imdp-icon{
    position: relative;
    top:120px;
    right:70px;
}

/* end moive list */

/* start footer */
footer{
    position: relative;
    top:200px;
    height:200px;
    color:white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(146, 55, 9);
}
/* end footer */


